$color-text: #000;

.box {
    display: flex;
    background-color: #fff;
    padding: 10px;
    align-items: center;
    width: 100%;
    border-radius: 20px;
}

.container {
    display: flex;
    background-color: #fff;
    padding: 25px;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.form-container {
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}



.image-container img {
    height: 550px;
    width: 550px;
}

.mat-label-properties {
    color: $color-text;
}

.mat-input-properties {
    color: $color-text !important;
    width: 240px !important;
    ::placeholder {
        color: $color-text !important;
        opacity: 0.7;
    }
}

.img img {
    width: 100%;
    height: auto;
    transition: opacity 1s ease-in-out;
}

.img img.hidden {
    opacity: 0;
}

.mat-mdc-radio-button.mat-accent {
    --mdc-radio-disabled-selected-icon-color: rgb(0, 0, 0);
    --mdc-radio-disabled-unselected-icon-color: rgb(0, 0, 0);
    --mdc-radio-unselected-hover-icon-color: #000000;
    --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-radio-unselected-pressed-icon-color: rgba(255, 255, 255, 0.54);
    --mdc-radio-selected-focus-icon-color: #000000;
    --mdc-radio-selected-hover-icon-color: #000000;
    --mdc-radio-selected-icon-color: #000000;
    --mdc-radio-selected-pressed-icon-color: #000000;
    --mat-radio-ripple-color: white;
    --mat-radio-checked-ripple-color: #000000;
    --mat-radio-disabled-label-color: rgba(255, 255, 255, 0.5);
}

.select-option-properties .input {
    color: #000 !important;
}

.radio-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.radio-container .select-label {
    margin-right: 10px;
}

.select-option-properties {
    display: flex;
    align-items: center;
}

.select-option-properties mat-radio-button {
    margin-right: 10px;
}

.submit-button {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
}


